.list-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}

.UnFiltered {
  font-size: 1rem;
  color: white;
  background: #da2020;
  cursor: pointer;
  padding: 4px;
  border-radius:6px;
}

.FilterCircle {
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.542);
  cursor: pointer;
  padding: 4px;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .list-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 450px) {
  .list-wrap {
    grid-template-columns: repeat(1, 1fr);
  }

}