.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .home_panelList-wrap,
  .home_panel-wrap,
  .home_list-wrap {
    overflow-y: auto;
  }
  
  .home_panelList-wrap {
    flex: 1;
    display: flex;
  }
  .home_panel-wrap {
    position: relative;
    flex-basis: 280px;
    padding: 1rem;
  }
  .home_list-wrap {
    flex: 1;
    padding: 1rem;
  }
  
  .filterSearch{
    display: none;
    font-size: 2rem;
    margin-right: 1rem;
  }
  .ClosePanel{
    display: none;
  }

  @media (max-width: 768px) {
    .filterSearch{
      display: inline-block;
    }
    .ClosePanel{
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2rem;
      padding: 5px;
      color: #da2020;
    }
    .home_panel-wrap{
      display: none;
      position: absolute;
      background: white;
    }
    .home_panel-wrap.show {
      display: block;
    }
    
    .home_panel-wrap.hide {
      display: none;
    }
  }