.ContainerPadre {
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    max-width: 1500px;
    width: 100%;
}

.goBack {
    display: flex;
    align-items: center;
    padding: 10px;
    background: black;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 30px;
    gap: 20px;
 }

.goBack p { display: inline-flex;   vertical-align: middle;}


.DatatableContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.DatatableContainer  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
   
}

.ContainerInfo{
    padding: 20px;
    text-wrap: pretty;
    background: #afd2ff48;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;

}