.listItem-wrap{
  border: 1px solid rgba(232, 7, 7, 0.199);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.productCheck{
  position: absolute;
  top: 0;
  right: 0;
}
.listItem-wrap img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  .listItem-wrap header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
    align-items: center;
  }
  
  .listItem-wrap header span {
    font-size: 0.7rem;
    background-color: #97ffff;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .listItem-wrap footer {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .listItem-wrap footer p:first-child span {
    color: rgba(0, 0, 0, 0.26);
    font-weight: 600;
  }
  
  .listItem-wrap .moreInfo  {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .listItem-wrap .moreInfo .Buttons {
    font-size: 20px;
    letter-spacing: 18px;
  }
  .listItem-wrap .moreInfo p {
  color: black;
  font-weight: 600;
  }