.emptyView-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sectionSearch{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgSearch{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emptyView-wrap img {
    width: 80%;
  }

  @media (max-width: 768px) {
    .emptyView-wrap {
      flex-direction: column;
    }
    .sectionSearch, .imgSearch{
      width: 100%;
    }
  }
  